@tailwind base;
@tailwind components;
@tailwind utilities;

.in-fullscreen {
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  object-fit: fill;
}

.outline-none {
  outline: 0 !important;
}

input,
.StripeElement {
  display: block;
  max-width: 500px;
  padding: 10px 14px;
  font-size: 1em;
  font-family: 'Source Code Pro', monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px, rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: #edf2f7;
  margin-right: .75rem;
}

input::placeholder {
  color: #aab7c4;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px, rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.spinner::after {
  content: '';
  position: absolute !important;
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid #718096;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
}

.loader::after {
  content: '';
  position: absolute !important;
  display: block;
  width: 6em;
  height: 6em;
  border: 5px solid #718096;
  border-radius: 9999px;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: spinAround 500ms infinite linear;
}

@keyframes spinAround {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}